{% extends 'base.html.twig' %}

{% block body %}

{% include 'menu.html.twig' %}

<div class="container">
    <div>
        {{ form_start(form, {'attr': {'class' : 'form-admin'}}) }}
            <div class="form-group row">
                <label for="" class="col-2 col-form-label label-admin">Adresse :</label>
    		    <div class="col-10">
                    <input type="text" class="form-control" id="user_input_autocomplete_address" name="">
                </div>
            </div>

            <div class="form-inline justify-content-center">
                <div class="form-group">
                    {{ form_widget(form.postcode, {'id':'postal_code'}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.city, {'id':'locality'}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.country, {'id':'country'}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.send) }}
                </div>
            </div>

        {{ form_end(form) }}
    </div>

    <div class="table-responsive">
        {% if locations is empty %}
            <h4>Il n'y a pas de coordonnées disponibles</h4>
        {% else %}
            <h4>Liste des coordonnées disponibles : </h4>
            <table class="table table-striped table-bordered" cellspacing="0" border="1">
                <thead>
                    <th>CP</th><th>Ville</th><th>Pays</th><th>Latitude</th><th>Longitude</th><th>Modifier</th><th>Supprimer</th>
                </thead>
                <tbody>
                    {% for location in locations %}
                        <tr>
                            <td>{{ location.postcode }}</td>
                            <td>{{ location.city }}</td>
                            <td>{{ location.country }}</td>
                            <td>{{ location.latitude }}</td>
                            <td>{{ location.longitude }}</td>
                            <td><a href="{{ path('updateLocation', {'id':location.id}) }}"><i class="far fa-edit"></i></a></td>
                            <td><a href="{{ path('deleteLocation', {'id':location.id}) }}"><i class="far fa-times-circle"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('dist/bootstrap.js') }}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxTKi67B3W71rjv7z6LOxxtkA068HgRvA&libraries=places"></script>
<script type="text/javascript" src="{{ asset('js/autocomplete.js') }}"></script>
{% endblock %}
