{% extends 'base.html.twig' %}

{% block body %}
<header>
    <nav>
        <a href="{{ path('admin') }}"><img src="{{ asset('img/logo-marqueur.png') }}" alt="Logo CEFii">Administration</a>
        <ul>
            <li><a href="{{ path('home') }}">Carte</li>
            <li><a href="">Deconnexion</a></li>
        </ul>
    </nav>
</header>

<div>
    <div>
        {{ form(form) }}
    </div>

    <div>
        {% if locations is empty %}
            <h2>Il n'y a pas de coordonnées disponibles</h2>
        {% else %}
            <h2>Liste des coordonnées disponibles : </h5>
            <table border="1">
                <thead>
                    <th>CP</th><th>Ville</th><th>Pays</th><th>Latitude</th><th>Longitude</th><th>Modifier</th><th>Supprimer</th>
                </thead>
                <tbody>
                    {% for location in locations %}
                        <tr>
                            <td>{{ location.postcode }}</td>
                            <td>{{ location.city }}</td>
                            <td>{{ location.country }}</td>
                            <td>{{ location.latitude }}</td>
                            <td>{{ location.longitude }}</td>
                            <td><a href="{{ path('updateLocation', {'id':location.id}) }}">Modifier</a></td>
                            <td><a href="{{ path('deleteLocation', {'id':location.id}) }}">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}
